.profileCont {
    width: 60%;
    margin-left: 20%;
    min-height: 50vh;
    border-top: none;
    background-color: rgb(151, 211, 151);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 5px #445449;
    color:darkolivegreen

}
.input-name{
    display:flex;
    flex-direction: column;
    text-align:center;
    margin-bottom:1%;
    width:100%;
}
.input{
    width:30%;
    align-self: center;;
}
.input-age{
    width:10%;
    align-self: center;;
}
.input-area{
    width:50%;
    height:20vh;
    align-self:center;
}
.form-container{
    width:70%;
}

.input-file{
    display:flex;
    flex-direction: column;
    text-align:center;
}

.input-file-field{
    align-self: center;
display:inline-block;
    
 
}
.pic-cont{
    width:150px;
    height:150px;
    background-size:cover;
    border-top-right-radius: 10px;;
    border-bottom-left-radius: 10px;


}
.form-pic-cont{
    display:flex;
    justify-content: space-between;

}





.label {
    /* margin-top:2%; */
    color:white;
}

.div {
    font-size: 18px;

}

.h1 {
    font-size: 24px;
    ;
    color: white;
    margin-top:0
}

