.App {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(108, 189, 118, 1) 60%,
    rgba(58, 84, 58, 1) 100%
  );
  opacity: 0.95;
  height: 95vh;
  width: 95vw;
  /* margin-left: 2.5%; */
  margin-right: 2.5%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;

  /* filter:blur(2px); */
}
