.registerCont {
    align-self: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 0%;
    margin-top: 5vh;
    width: 50%;
    text-align: center;
}

 .profileCont {

    align-self: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 5vh;
    width: 70%;
    text-align: center;
} 

.label {
    color: white;

}

.div {
    font-size: 18px;

}


.h1 {
    font-size: 24px;
    ;
    color: white
}

.sign-in-btn {
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: white;
    width: 120px;


}