.registerCont {
    align-self: center;
    border: 1px solid white;
    height:50vh;
    border-radius: 5px;
    margin-left: 0%;
    width: 40%;
    text-align: center;
    margin-left:30%;
    margin-top:10%;
    box-shadow: 10px 10px 5px #445449;

}
.login-reg-input{
    width:40%;
    align-self: center;
    margin-top:2%;
}
.h1-login-reg{
    color:white;
    margin-top:5%;
}


 /* .profileCont {

    align-self: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 5vh;
    width: 70%;
    text-align: center;
} 

.label {
    color: white;

} */

/* .div {
    font-size: 18px;

} */

/* 
.h1 {
    font-size: 24px;
    ;
    color: white
} */

/* .sign-in-btn {
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: white;
    width: 120px;


} */