@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  background-image: url("./css/img/forest_bgr.jpg");
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}
.message-cont{
  margin-top:3vh;
  text-align: center;
  font-size:14px;
}

.nav {
  margin-top: 2vh;
  display: flex;
  justify-content: space-evenly;
  font-size:1.2em;
  /* background: rgb(6, 142, 4); */
  /* background-color: #e5e5f7; */
  /* opacity: 0.8; */
  /* background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #44f7e8 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px; */
  /* background: radial-gradient(circle, rgba(6, 142, 4, 1) 0%, rgba(8, 237, 38, 1) 50%, rgba(0, 121, 6, 1) 100%); */
}

.link {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-top: 0.75rem;
  background-color: rgb(192, 248, 248);
  min-width: 10vw;
  min-height: 5vh;
  border-radius: 50px;
  border:2px solid white;
}

.hikesCont {
  margin-top:5vh;
  background-color: #e6f7ea;
  opacity: 0.8;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e6f7ea 10px), repeating-linear-gradient(#45f7a855, #45f7a8);
  border: 2px solid white;
  background-color: pink;
  min-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 60vh;
  border-radius: 20px;
}
.btn-create{
  margin-top:5vh;

  min-width: 200px;
  min-height:30px;
  background-color: #e6f7ea;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #defff0, #e6f7ea), repeating-radial-gradient(circle at center center, #9affd2, #c3fee3, 10px, transparent 40px, transparent 30px);
  background-blend-mode: multiply;
  border-radius:20px;
  font-size:18px;
}
.create-btn-container{
  text-align: center;
  margin-bottom: 20px;
}

.attending {
  border: 2px solid black;
  display: flex;

}




#root {
  /* background-color: pink; */
  /* background-image: url("./css/img/forest_bgr.jpg"); */
  /* filter:blur(10px); */



}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}